Loris Toolbox/PooledResources
*.hip
loris_library/Builds
loris_library/JuceLibraryCode
loris_test/JuceLibraryCode
loris_test/Builds
loris_library_macOS.zip
loris_win_lib/loris_win_lib/Builds/
loris_library_win64.zip
tmpFile
